<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Pochi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <div class="d-flex justify-content-between" style="width: 100%;">
    <% if current_user %>
      <ul class="navbar-nav">
        <% { "Tasks" => root_path, "Categories" => categories_path }.each do |text, path| %>
          <% if params[:controller] == text.downcase %>
            <li class="nav-item active">
          <% else %>
            <li class="nav-item">
          <% end %>
              <%= link_to text, path, class: "nav-link" %>
            </li>
        <% end %>
      </ul>

      <%= link_to "Sign out", sign_out_path, method: :delete, class: "nav-link disabled" %>
    <% end %>
  </div>
  </div>
</nav>
